.container{
    margin: 20px;
}
.list{
    list-style-type: none;
    margin: auto;
    li{
        margin-bottom: 10px;
    }
}
.routes{
    .list, ul ,li{
        display: inline-block;
    }
}
.box,.row{
    margin: 20px;
    display: flex;
    flex-direction: column;

    .row{
        flex-direction: row;
        flex: auto;
    }
    .boxes{
        flex:auto;
    }
    .form, .list{
        overflow-y: auto;
    }
    .form{
        flex: 1;
    }
    .list{
        flex: 4;
        list-style: none;
    }
    .save{
        margin:10px;
    }
    .listElement{
        margin: 5px;
    }
}
.navBar{
   ul li {
    list-style: none;
    display: inline-block;
    margin:15px;


    a:-webkit-any-link{
        color:#ffffff;
        text-decoration:none;
    }
    a:hover{
        color: aqua;
    }
    .logo img{
        width: 5%;
    }
  
   }
   background-color: #34495e;
   height: 60px;
   margin-top: -25px;
}
.save, .delete, .update{
    width: 80px;
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
    border-style: groove;
    font-weight: 600;
    color:#ffffff;
    cursor: pointer;
}
.save{
    background-color: #44bd32;
    border:2px solid #4cd137;
    cursor: cell;
}
.save:disabled{
    background-color: #718093;
    border:2px solid #7f8fa6;
    cursor: not-allowed;
}
.delete{
    background-color: #c23616;
    border:2px solid #e84118;
}
.update{
    background-color: #40739e;
    border:2px solid #487eb0;
}